.portfolio {
    margin-bottom: 15vh;
}

.card {
    display: inline-block;
    color: #485564;
    background-color: white;  
    height: 450px;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 24px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 10;
}

@media (max-width: 90px) {
    .card {
        width: 85%;
    }
}

@media (min-width: 660px) {
    .card {
        width: 85%;
    }
}

.card-title {
    font-weight: bold;
    padding: 25px 10px 10px;
}

.card-text {
    height: 200px;
    padding: 15px;
}

.card svg {
    color: #485564;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.card svg:hover {
     transform: scale(1.075); 
}


/* .portfolio {
    margin-bottom: 15vh;
}

.card {
    display: inline-block;
    color: #485564;
    background-color: white;  
    height: 100%;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 24px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 10;
    padding: 15px;
}

@media (max-width: 90px) {
    .card {
        width: 85%;
    }
}

.card-title {
    font-weight: bold;
    margin: 25px 10px 30px;
}

.holder {
    position: absolute;
    height: 100%;
    width: 100px;
}

.card svg {
    color: #485564;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    position: relative;
    
}
.card svg:hover {
     transform: scale(1.075); 
}

.yup {
    color: yellow;
} */