#name {
 font-weight: bold;
 font-size: 48px;
 margin: 15px;
 margin-top: 20vh;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: transparent;
}

.oval {
    height: 50px;
    width: 100px;
    background-color: rgb(48, 47, 47);
    border-radius: 50%;
  }