.experience {
    margin-bottom: 15vh;
}

.experience-content {
    margin: auto;
    display: table;
    width: 50%;
    font-size: 15px;
}

@media (max-width: 900px) {
    .experience-content {
        width: 95%;
    }
}


ul.timeline {
    list-style-type: none;
    position: relative;
    text-align: left;
}
ul.timeline:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    left: 21px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    /* border: 1px solid #2F2F2F; */
    left: 15px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

.company-name {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.company-location {
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-style: italic;
}

.company-dates {
    margin-left: 10px;
    margin-bottom: 10px;
}

.company-description li {
    margin-bottom: 10px;
}

