.App {
  background-color: #485564;
  text-align: center;
  font-family: 'Montserrat', serif;
  color: white;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: jump 1s infinite alternate;
    animation: jump 1s infinite alternate;
  }

  @-webkit-keyframes jump {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-30px);
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-30px);
    }
  }

  .oval {
    -webkit-animation: resize 1s infinite alternate;
    animation: resize 1s infinite alternate;
  }

  @-webkit-keyframes resize {
    0% {
      transform: scale(1.25);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes resize {
    0% {
      transform: scale(1.25);
    }

    100% {
      transform: scale(1);
    }
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  min-height: 100vh;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.anchor-space {
  padding-top: 60px;
}

html {
  scroll-behavior: smooth;
}

.section-title {
  width: 60%;
  text-align: center;
  border-bottom: 1px solid white;
  line-height: 0.1em;
  margin: 10px auto 50px;
  font-size: 30px;
}


p span {
  background: #485564;
  padding: 0 10px;
}








